name: Test on push
on:
  push:
    branches-ignore:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code from repo
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v4
      - name: Run tests
        run: go test ./...
